<div class="container px-5 px-sm-0">
  <div class="row">

    <%= render "layouts/sidebar", user: @user, book: @book_new %>

    <!-- ===== 右：Book detail ===== -->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
          <!-- 画像 + 投稿者名（左端） -->
            <td class="align-middle" style="width: 120px;">
              <%= link_to user_path(@user) do %>
                <% if @user.profile_image&.attached? %>
                  <%= image_tag @user.profile_image, style: "width:100px;height:100px;object-fit:cover;" %>
                <% else %>
                  <%= image_tag "no_image.jpg", style: "width:100px;height:100px;" %>
                <% end %>
              <% end %>

              <div class="mt-2">
                <%= link_to @user.name, user_path(@user) %>
              </div>
            </td>

            <!-- Title -->
            <td class="align-middle">
              <%= @book.title %>
            </td>

            <!-- Opinion -->
            <td class="align-middle">
              <%= @book.body %>
            </td>

            <!-- いいね（Turboで差し替え） -->
            <td class="align-middle text-center">
              <%= turbo_frame_tag dom_id(@book, :favorite) do %>
                <%= render "favorites/favorite_btn", book: @book %>
              <% end %>
            </td>

            <!-- コメント数 -->
            <td class="align-middle text-center">
              コメント数: <%= @book.book_comments.count %>
            </td>

            <td class="align-middle text-center">
              閲覧数: <%= @book.views_count %>
            </td>

            <!-- 評価 -->
            <td class="align-middle text-center">
              <div id="rate_<%= @book.id %>"></div>
            </td>

            <!-- Edit（本人だけ） -->
            <td class="align-middle">
              <% if @book.user_id == current_user.id %>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %>
              <% end %>
            </td>

            <!-- Destroy（本人だけ） -->
            <td class="align-middle">
              <% if @book.user_id == current_user.id %>
                <%= link_to "Destroy",
                            book_path(@book),
                            data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                            class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="book-comments-index"> 
             <%= render partial: "book_comments/index",
             locals: { book: @book, book_comments: @book_comments } %>
      </div>

       <div id="book-comments-form">
         <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
      </div>
   </div>
  </div>
</div>

<script>
document.addEventListener("turbo:load", () => {
  const elem = document.querySelector("#rate_<%= @book.id %>");
  if (!elem || typeof Raty === "undefined") return;

  elem.innerHTML = "";

  const raty = new Raty(elem, {
    readOnly: true,
    score: <%= @book.score || 0 %>,
    number: 5,
    starType: "i",
    starOn: "fa fa-star",
    starOff: "fa fa-star-o",
    starHalf: "fa fa-star-half-o"
  });

  raty.init();
});
</script>