<div class="col-md-3">
  <h2>User info</h2>

  <% sidebar_user = user %>

  <% if sidebar_user.profile_image.attached? %>
    <%= image_tag sidebar_user.profile_image, class: "img-fluid", style: "width:100px;height:100px;object-fit:cover;" %>
  <% else %>
    <%= image_tag "no_image.jpg", class: "img-fluid", style: "width:100px;height:100px;object-fit:cover;" %>
  <% end %>

  <table class="table mt-3">
    <tr>
      <th>name</th>
      <td><%= sidebar_user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= sidebar_user.introduction %></td>
    </tr>
    <tr>
    <th>follows</th>
      <td>
      <%= link_to sidebar_user.followings.count,
                following_user_path(sidebar_user),
                class: "text-decoration-none small" %>
      </td>
    </tr>

  <tr>
  <th>followers</th>
    <td>
     <%= link_to sidebar_user.followers.count,
                followers_user_path(sidebar_user),
                class: "text-decoration-none small" %>
    </td>
  </tr>
  <tr>
    <th></th>
    <td class="text-start">
      <div class="mt-2 d-flex gap-2 align-items-center">
        <% if authenticated? && current_user != sidebar_user %>
          <% if current_user.following?(sidebar_user) %>
            <% rel = current_user.active_relationships.find_by(followed_id: sidebar_user.id) %>

            <div class="mt-2 d-flex gap-2">
              <%= button_to "フォローを外す",
                            relationship_path(rel),
                            method: :delete,
                            class: "btn btn-outline-secondary btn-sm" %>

              <% if current_user.mutual_follow?(sidebar_user) %>
                <%= button_to "DMを始める",
                              rooms_path(user_id: sidebar_user.id),
                              method: :post,
                              class: "btn btn-success btn-sm" %>
              <% end %>
            </div>

          <% else %>
            <%= button_to "フォローする",
                          relationships_path(followed_id: sidebar_user.id),
                          method: :post,
                          class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
       </div>
      </div>
    </td>
  </tr>
  </table>

  <div class="row mb-3">
    <%= link_to edit_user_path(sidebar_user), class: "btn btn-outline-secondary w-100" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>

  <h2 class="mt-3">New book</h2>

  <%= form_with model: book, url: books_path, local: true do |f| %>
    <div class="mb-2">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :body, "Body" %>
      <%= f.text_area :body, class: "form-control", rows: 4 %>
    </div>

    <div class="mb-2">
      <%= f.label :score, "Rate" %>
      <div id="post_raty"></div>
    </div>
    
    <%= f.submit "Create Book", class: "btn btn-success w-100" %>
  <% end %>
</div>